body {
    font-family: Times New Roman, sans-serif;
    font-style: normal;
    font-size: 25px;
    margin-left: 65px;
    color: black
}
h1 {
    margin-top: 96px;
    font-size: 50px;
    color: #FFFFFF;
    width: 1310px; 
    height: 51px;
    background-color: black; 
}
h2 {
    font-size: 40px;
    color: #FFFFFF;
    width: 1310px; 
    height: 40px;
    background-color: black;
}