* {
  margin: 0; 
  padding: 0; 
  }
  
.header-container {
  height: 60px;
  background: #FE1A19;
  display: flex; 
  justify-content: flex-start; 
  }
  
.header {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-left: 20px;
  }


.style-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  text-align: start;
  }
  
.style {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: stretch;
  color: #000000;
}

.p1 {
  border: 5px solid #e0bd0a;
  border-radius: 30px;
  padding: 33px;
  margin: 52px 50px 52px 70px;
} 

.p2 {
  border: 5px solid #e0bd0a;
  border-radius: 30px;
  padding: 33px;
  margin: 52px 50px 52px 0px;
}      

.p3 {
  border: 5px solid #e0bd0a;
  border-radius: 30px;
  padding: 33px;
  margin: 52px 50px 52px 0px;
}      

footer {
background: #FE1A19;
height: 60px;
left: 0px;
top: 964px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
display: flex;
align-items: center;
color: #FFFFFF;
padding-left: 20px;
}